*.json
!.gitignore

# don't ignore the modules json files                            #
# we'll need to take this out once we have the real web services #
##################################################################
ug/2014/*
!ug/2014/1_modules.json
!ug/2014/3_modules.json