body {
    background:url(img/snow.png) repeat top left;
}

h1 {
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 60px;
}

.icon-link {
    background: url(img/icon-link.png) no-repeat center center;
}

textarea { 
    width:600px !important;
    height: 300px !important;
    overflow: scroll;
}

.sortable_fields {
    min-height: 20px;
}

.navwell {
    background-color: white;
    border:1px solid rgba(200,200,200,1);
    -moz-box-shadow: 1px 1px 4px #dbdbdb;
    -webkit-box-shadow: 1px 1px 4px #dbdbdb;
    border-radius: 5px;
    padding: 10px;
}

.table {
    background-color:white;
    -moz-box-shadow: 0px 0px 4px #ececec;
    -webkit-box-shadow: 0px 0px 4px #ececec;
    box-shadow: 0px 0px 4px #ececec;

}

.checkbox {
	width: 300px;
}

.overridable-badge {
	margin: 10px 0 10px 0;
}

.overridable-badge .description {
    display: none;
    margin: 10px 10px 10px 0;
}

.container.loginwindow { width:500px; margin:0 auto; text-align:center; }
.container.loginwindow h1 { margin-bottom:20px; }
.crud textarea,
.crud input[type="text"],
.crud input[type="password"]{ width:400px; }
.right { float:right; }
.crud label { font-weight:700; }
.crud .controls label { font-weight:400; }
.crud .ui-multiselect input.search {
    width: 120px !important;
}
div.alert { margin-top:10px; margin-bottom:10px; }
div.alert p { margin:0; }

.alert-type, .alert-year {
    margin: 0px;
    padding: 10px;
    border-radius: 0px;
    color: #fff;
}

a.alert-year, a.alert-year:hover {
    text-decoration: none;
    color: #fff;
}

.alert-type.alert-ug, .alert-ug > a.alert-year {
    background-color: rgb(0, 15, 66);
}

.alert-type.alert-pg, .alert-pg > a.alert-year {
    background-color: rgb(103, 17, 21);
}

h2.alert-ug, h2.alert-pg {
    margin: 40px 0;
    padding: 30px;
    text-align: center;
}

h2.alert-ug a.alert-year, h2.alert-pg a.alert-year{
    padding: 20px;
}

h2.alert-ug a.current-year, h2.alert-pg a.current-year{
    padding: 40px;
}

.gallery_images .caption { text-align:center; }
.gallery_images .caption small { font-style:italic; }
.gallery_images .caption p { margin-bottom:0; }
.gallery_images .caption .action_buttons { margin:3px 0; }
del {
	background-color: OrangeRed;
	text-decoration: line-through;
}
ins {
	background-color:SpringGreen;
	text-decoration: none;
}

/*info box*/

div.info{
	display: inline;
}
.info .description, .info .title {
display: none;
}

/* Styles for sortable sections/fields */
.section_content {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0 20px 0;
    border:1px solid rgba(200,200,200,1);
    -moz-box-shadow: 1px 1px 4px #dbdbdb;
    -webkit-box-shadow: 1px 1px 4px #dbdbdb;
    box-shadow: 1px 1px 4px #dbdbdb;
}

.section_name {
    cursor: move;
}

.section_name_inactive {
    color: #848484;
}

.sortableUI .field_item {
  padding:5px 0 5px 0;
  list-style: none;
}
.sortableUI .field_item i {padding-right:5px;cursor:pointer;}
.sortableUI .field_item .title {display:inline-block; cursor: move; padding-right: 10px;}
.sortableUI .field_item .type {width:15%;   display:inline-block;}
.sortableUI .field_item .actions {width:20%;   display:inline-block;}
.sortableUI legend { cursor:pointer;margin-top:10px;}

.sortableUI .sortable_fields {
  margin:0 0 20px 0;
  list-style-type: none;

}
.sortableUI .sortable_fields.dropzone-large {
  height:120px;
}


.text_limits {padding:4px;}

/* Css for floating save bar in programmes / other long forms */
.floating_save{
    right:0px; 
    margin-right:0px;
    padding:10px; 
    background-color: #f5f5f5; 
    border-radius: 6px; 
    border: 1px solid #e3e3e3;
    text-align:right;
    z-index:9999;
}
.floating_save .pull-right{
    padding-left:20px;
}

.floating_save .btn {margin-top:-5px;}

.floating_save.affix {
    top:40px;
    width:100%;
    height:22px;
    border-radius:0px;
}

form table th,
form table td { 
    padding: 0.2em 1em;
}

#cke_message {
    width: 530px !important; /* Reduce width for CKEditor */
    margin-bottom: 1em;
}

a.scroll-to-top {
    display:none; 
    position:fixed;
    bottom:10px; 
    right: 10px;
    width:40px;
    height:40px; 
    line-height:40px; 
    text-align:center; 
    background:#5c5c5c;
    border:0;
    opacity:0.8;
}


.programmes-last-updated {
    font-size:0.9em; 
    color:#aaa;
    float:right; 
}

.notes-form-actions{
    padding: 15px 15px 15px 180px;
}