body {
    background:url(img/snow_@2X.png) repeat top left;
}

h1 {
    padding-bottom: 20px;
}

.sortable_fields {
    min-height: 20px;
}

.navwell {
    background-color: white;
    border:1px solid rgba(200,200,200,1);
    -moz-box-shadow: 1px 1px 4px #dbdbdb;
    -webkit-box-shadow: 1px 1px 4px #dbdbdb;
    border-radius: 5px;
    padding: 10px;
}

.table {
    background-color:white;
    -moz-box-shadow: 0px 0px 4px #ececec;
    -webkit-box-shadow: 0px 0px 4px #ececec;
    box-shadow: 0px 0px 4px #ececec;

}

.container.loginwindow { width:500px; margin:0 auto; text-align:center; }
.container.loginwindow h1 { margin-bottom:20px; }
.crud textarea,
.crud input[type="text"],
.crud input[type="password"]{ width:400px; }
.right { float:right; }
.crud label { font-weight:700; }
.crud .controls label { font-weight:400; }
.crud .ui-multiselect input.search {
    width: 120px !important;
}
div.alert { margin-top:10px; margin-bottom:10px; }
div.alert p { margin:0; }
.gallery_images .caption { text-align:center; }
.gallery_images .caption small { font-style:italic; }
.gallery_images .caption p { margin-bottom:0; }
.gallery_images .caption .action_buttons { margin:3px 0; }
del {
	background-color: OrangeRed;
	text-decoration: none;
}
ins {
	background-color:SpringGreen;
	text-decoration: none;
}

/*info box*/

div.info{
	display: inline;
}
.info .description, .info .title {
display: none;
}

/* Styles for sortable sections/fields */
.section_content {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0 20px 0;
    border:1px solid rgba(200,200,200,1);
    -moz-box-shadow: 1px 1px 4px #dbdbdb;
    -webkit-box-shadow: 1px 1px 4px #dbdbdb;
    box-shadow: 1px 1px 4px #dbdbdb;
}

.section_name {
    cursor: move;
}

.section_name_inactive {
    color: #848484;
}

.sortableUI .field_item {
  padding:5px 0 5px 0;
  list-style: none;
}
.sortableUI .field_item i {padding-right:5px;cursor:pointer;}
.sortableUI .field_item .title {display:inline-block; cursor: move; padding-right: 10px;}
.sortableUI .field_item .type {width:15%;   display:inline-block;}
.sortableUI .field_item .actions {width:20%;   display:inline-block;}
.sortableUI legend { cursor:pointer;margin-top:10px;}

.sortableUI .sortable_fields {
  margin:0 0 20px 0;
  list-style-type: none;

}
.sortableUI .sortable_fields.dropzone-large {
  height:120px;
}
