body {
    background:url(/img/admin/snow_@2X.png) repeat top left;
}

.container.loginwindow { width:500px; margin:0 auto; text-align:center; }
.container.loginwindow h1 { margin-bottom:20px; }
.crud textarea,
.crud input[type="text"],
.crud input[type="password"]{ width:400px; }
.right { float:right; }
.crud label { font-weight:700; }
.crud .controls label { font-weight:400; }
div.alert { margin-top:10px; margin-bottom:10px; }
div.alert p { margin:0; }
.gallery_images .caption { text-align:center; }
.gallery_images .caption small { font-style:italic; }
.gallery_images .caption p { margin-bottom:0; }
.gallery_images .caption .action_buttons { margin:3px 0; }
del {
	background-color: OrangeRed;
	text-decoration: none;
}
ins {
	background-color:SpringGreen;
	text-decoration: none;
}

/* Styles for sortable sections/fields */
  .sortableUI .field_item {
    padding:5px;
    list-style: none;
  }
  .sortableUI .field_item i {padding-right:5px;cursor:pointer;}
  .sortableUI .field_item .title {width:60%;   display:inline-block;}
  .sortableUI .field_item .type {width:15%;   display:inline-block;}
  .sortableUI .field_item .actions {width:20%;   display:inline-block;}

  .sortableUI legend { cursor:pointer;margin-top:10px;}

  .sortableUI .sortable_fields {
    min-height:30px;
    margin:0px;

  }
  .sortableUI .sortable_fields.dropzone-large {
    height:120px;
  }