.container.loginwindow { width:500px; margin:0 auto; text-align:center; }
.container.loginwindow h1 { margin-bottom:20px; }
.crud textarea,
.crud input[type="text"],
.crud input[type="password"]{ width:400px; }
.right { float:right; }
.crud label { font-weight:700; }
.crud .controls label { font-weight:400; }
div.alert { margin-top:10px; margin-bottom:10px; }
div.alert p { margin:0; }
.gallery_images .caption { text-align:center; }
.gallery_images .caption small { font-style:italic; }
.gallery_images .caption p { margin-bottom:0; }
.gallery_images .caption .action_buttons { margin:3px 0; }
del {
	background-color: OrangeRed;
	text-decoration: none;
}
ins {
	background-color:SpringGreen;
	text-decoration: none;
}